textarea{
    width: 50%;
}
.book{
    cursor: pointer;
}
.network-error{
    width: 100%;
    font: 5em sans-serif;
    background-color: red;
    border: 5px black solid;
    border-radius: .1em;
    text-align: center;
}